[submodule "modules/php53"]
	path = modules/php53
	url = https://github.com/zivtech/puppet-php53
[submodule "modules/mysql5"]
	path = modules/mysql5
	url = https://github.com/zivtech/puppet-mysql5
[submodule "modules/webadmin"]
	path = modules/webadmin
	url = https://github.com/zivtech/puppet-webadmin
