[submodule "modules/php53"]
	path = modules/php53
	url = https://github.com/acouch/puppet-php53
[submodule "modules/mysql5"]
	path = modules/mysql5
	url = https://github.com/acouch/puppet-mysql5
[submodule "modules/webadmin"]
	path = modules/webadmin
	url = https://github.com/acouch/puppet-webadmin
[submodule "modules/drush"]
	path = modules/drush
	url = https://github.com/acouch/puppet-drush.git
[submodule "modules/nuams"]
	path = modules/nuams
	url = git@github.com:nuams/nuams_puppet_module.git
